body{
    background-image: url(https://littlexiaowang.github.io/resource/TheMatrix1.png);
    background-size: 75%;
}

h2{
    color: #f5ff2e;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 10%;
}

td{
    box-shadow: 0 0 0.3px #999;
}

td:hover .img{
    box-shadow: 0 0 3px #999;
    margin-top: -5px;
    transition: all 0.1s linear;
} 

footer{
    color:#f5ff2e;
    bottom:0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: absolute;
    padding: 5px;
    width: 100%;
}
