body{
    background-image: url(https://littlexiaowang.github.io/resource/TheMatrix1.png);
    background-size: 75%;
}

h2{
    color: #f5ff2e;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 10%;
}